<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= site.title %></title>
  </head>
  <body>
    <div class="container">
        <h1> Notícias: <%= site.title %></h1>
        <br>
        <br>
        <div class="col-md-12">
            <% for(news of site.news){ %>
            <h2><a href="<%= news.link %>"> <%= news.title %> </a></h2>
            <p> <%= news.summary %> </p>
            <div>
                <span class="badge"> <%= news.time %> </span>
            </div>
            <hr>
            <% } %>
        </div>
    </div>

  </body>

  <script>
    var teste = ['sobre','STF','Brasil', 'Trump', 'Lula', 'presidente', 'corregedor', 'governo', 'integrantes'];

    $(".col-md-12").unmark({
      done: function() {
        $(".col-md-12").mark(teste);
      }
    });
  </script>

</html>
