<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= site.title %></title>
  </head>
  <body>
    <div class="container">
        <h1> Notícias: <%= site.title %></h1>
        <br>
        <br>
        <div class="col-md-12">
            <% for(var i = 0; i<site.news.news.length; i++){ %>

            <h2 id="title"> <%= site.news.news[i].title %>
            <button id="show" class="btn btn-lg btn-success" type="button" data-target="#<%= i %>" data-toggle="collapse" aria-expanded="false" aria-controls="<%= i %>">
              <span class="glyphicon glyphicon-arrow-down"></span>
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            </h2>
            <p id="summary"> <%= site.news.news[i].summary %> </p>
            <div>
                <span class="badge"> <%= site.news.news[i].time %> </span>
            </div>
            <hr>
            <div id="<%= i %>" class="collapse">
              <h1><a href="<%= site.news.news[i].link %>"><%= site.news.subnews[i].news2[0].subtitle %></a></h1>
              <p class="p-custom"><%= site.news.subnews[i].news2[0].subcontext %></p>
              <hr>
              <br>
            </div>

            <% } %>
        </div>
    </div>

  </body>

  <script>
    var teste = ['drogas','sexo','morte', 'Trump', 'Lula', 'assassinato', 'roubo'];

    $(".col-md-12").unmark({
      done: function() {
        $(".col-md-12").mark(teste);
      }
    });
  </script>

</html>
