<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= site.title %></title>
  </head>
  <body>
    <div class="container">
        <h1> Notícias: <%= site.title %></h1>
        <br>
        <br>
        <div class="col-md-12">
            <% for(var i = 0; i<site.news.news.length; i++){ %>

            <h2 id="title"> <%= site.news.news[i].title %>
            <button id="show" class="btn btn-lg btn-success" type="button" data-target="#<%= i %>" data-toggle="collapse" aria-expanded="false" aria-controls="<%= i %>">
              <span class="glyphicon glyphicon-arrow-down"></span>
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            </h2>
            <p id="summary"> <%= site.news.news[i].summary %> </p>
            <div>
                <span class="badge"> <%= site.news.news[i].time %> </span>
            </div>
            <hr>
            <div id="<%= i %>" class="collapse">
              <h1><a href="<%= site.news.news[i].link %>"><%= site.news.subnews[i].news2[0].subtitle %></a></h1>
              <p class="p-custom"><%= site.news.subnews[i].news2[0].subcontext %></p>
              <hr>
              <br>
            </div>

            <% } %>
        </div>
    </div>

  </body>

  <script>
    $(document).ready(function(){
      $("#risca").click(function(){
        if($("mark").css('text-decoration').indexOf('none') > -1){
          $("mark").css({"text-decoration": "line-through"});
        }else{
          $("mark").css({"text-decoration": "none"});
        }
      });

      $("#cor").click(function(){
        var color = $("mark").css('color');
        if(color == 'rgb(0, 0, 0)'){
          $("mark").css({"color": "lightgray"});
        }else{
          $("mark").css({"color": "rgb(0, 0, 0)"});
        }
      });

      var word = [];

      $("#marca").click(function(){
        word.push($('#marca_input').val());
        alert('Palavra(s) "' + word + '" inserida(s)!');
        $(".col-md-12").unmark({
          done: function() {
            $(".col-md-12").mark(word);
          }
        });
      });
    });
  </script>

</html>
