<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= site.title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  </head>
  <body>
    <script src="js2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div class="container">
        <h1> Notícias: <%= site.title %></h1>
        <br>
        <br>
        <div class="col-md-12">
            <% for(news of site.news){ %>
            <h2> <%= news.title %> </h2>
            <p> <%= news.summary %> </p>
            <div>
                <span class="badge"> <%= news.time %> </span>
            </div>
            <hr>
            <% } %>
        </div>
    </div>

  </body>
</html>
